img {
    width: 70px
}

.box {
    border: 1px solid #ced4da;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
}

.text {
    padding: 16px 0 0 20px
}

h5,
p {
    line-height: 1;
    margin-bottom: 5px;
}

p {
    color: #999;
}